@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Styles pour la barre de navigation principale (.main-nav)
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $main-nav-padding;

  a {
    font-weight: $font-weight-bold;
    color: $primary-text-color;

    &.router-link-exact-active {
      color: $active-link-color;
    }
  }

  .main-nav-logo {
    display: flex;
    align-items: center;

    .main-nav-logo-image {
      max-width: 100%;
      width: $main-nav-logo-width;
    }
  }
}

// Styles pour les éléments de la barre de navigation (.main-nav-item)
.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;

  i {
    padding: $main-nav-icon-padding;
  }

  &:hover {
    text-decoration: underline;
  }
}
